* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  line-height: 1;
  letter-spacing: 1.2px;
  background: #000107;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

a:hover {
  text-decoration: none;
  color: deepskyblue;
}

.hidden {
  display: none;
}

.gameover {
  color: #ff0107 !important;
}

#header {
  height: 90px;
}

#main {
  display: flex;
}

#board {
  margin: auto;
}

.canvas-wrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
  user-select: none;
}

#canvas {
  cursor: url(circle3.cur) 8 8, auto;
}

#information {
  padding: 0 20px;
  color: #f1f7ff;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.stats {
  padding: 10px;
}

.stats-label {
  font-size: 20px;
  line-height: 1.5;
  color: #abb1ba;
}

.stats-value {
  font-size: 30px;
}

#healthbar-wrapper {
  height: 55px;
  margin: 0 20px;
}

#healthbar {
  height: 100%;
}

#settings {
  padding: 20px;
  border: 1px solid whitesmoke;
  margin-top: 20px;
}

#settings input {
  outline: 0;
  border: 0;
  padding: 0;
  width: 80%;
  font-size: 30px;
  font-family: monospace;
  line-height: 1;
  background: rgba(241,247,255,0.1);
  color: #f1f7ff;
}

#settings button {
  background: #f1f7ff;
  color: #000107;
  
  outline: 0;
  border: 0;
  padding: 0;
  margin: 5px;
  
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 1;

  cursor: pointer;
}

.params {
  display: flex;
}

.param-cell {
  width: 25%;
}

.param-label {
  font-size: 16px;
  line-height: 1.5;
  color: #abb1ba;
}

.debug-mode {
  padding-top: 15px;
}

@media screen and (max-width: 445px) {
  #header {
    height: 60px;
  }
  #healthbar {
    margin: 0 10px;
  }
  .canvas-wrapper {
    padding: 10px;
  }
  #information {
    padding: 0 10px;
  }
  .stats-label {
    font-size: 10px;
  }
  .stats-value {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .canvas-wrapper {
    padding: 20px;
  }
}
